.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 230, 217);
  font-family: monospace, bold;
  color: rgb(142, 103, 46);
  grid-column: 1 / span 2;
  padding: 10px 5px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  background-color: rgb(142, 103, 46);
  color: rgb(238, 230, 217);
  border: none;
  border-color: rgb(142, 103, 46);
  font-family: monospace;
  border-width: 1px;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  border-radius:10px;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 20px;
  padding-top: 10px;
  font-size: 15px;
  font-family: monospace;
}

nav {
  background-image: linear-gradient(
    orange,
    yellow,
    pink,
    white
  );
  
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
